<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - belugabrain</title>
    @RenderSection("styles", required: false)
    @Styles.Render("~/Content/css")

    @*@Styles.Render("~/Content/SlateCss")*@

@*    @Styles.Render("~/Content/SuperheroCss")*@
    @Scripts.Render("~/bundles/modernizr")
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #map {
            width: 100%; height: 400px;
        }
    </style>
</head>
<body ng-app="belugabrain.ctc">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("bikeitorhikeit", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("CTN", "Index", "Home", new { area = "CTN" }, null)</li>
                    <li><a href="https://bikeitorhikeit.net/blog" target="_blank">Blog</a></li>
                    <li><a href="https://bikeitorhikeit.net/forum" target="_blank">Forum</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - belugabrain</p>
        </footer>
    </div>
    <div id="cookieFooter" ng-controller="CookieConsentCtrl" class="{{cookieConsentHidden ? '' : 'shown'}}">
        <accordion close-others="oneAtATime">
            <accordion-group heading="Cookie policy...">
                <div id="cookieConsentDetails">
                    <div id="cookieButtons">
                        <button class="btn btn-default" ng-click="accept()" title="I accept your use of cookies">Accept cookies</button><br />
                        <button class="btn btn-default" ng-click="reject()" title="I don't want you to use cookies, thanks">Reject cookies</button>
                    </div>
                    <div>
                        <p>This site uses cookies to remember which part of the site you were looking at and which options you selected, so that when you return, things will be pretty much as you left them.</p>
                        <p>
                            For example, when looking at the maps for the County Town Network, cookies are used to remember the part of the map that you were looking at and the zoom level in force at the time.
                            Without cookies to remember this, you will have to zoom and scroll every time you come back to the map.
                        </p>
                        <p>We totally understand if you don't like using cookies, so feel free to click on the 'reject' button.</p>
                        <p>However, we hope you'll trust us to use this simple data capture to make your life a little bit easier, by clicking on the 'accept' button.</p>
                        <p>Note: Clicking on 'accept' or 'reject' will result in the storage of a single cookie that causes this message to be hidden. <u>Only</u> clicking on 'accept' will cause any other cookies to be stored</p>
                    </div>
                </div>
            </accordion-group>
        </accordion>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
